<h1>Create your new Avatar!</h1>

<div id="avatar-canvas">
</div>

<%= form_for @avatar do |f| %>
  <% if @avatar.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@avatar.errors.count, "error") %> prohibited
      this avatar from being saved:</h2>
    <ul>
    <% @avatar.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :gender %><br>
    <%= f.label :gender, "Male", :value => "Male" %>
    <%= f.radio_button :gender, "Male", :checked => true %>
    <%= f.label :gender, "Female", :value => "Female" %>
    <%= f.radio_button :gender, "Female" %>
  </p>
 
  <p>
    <%= f.label :skin_tone %><br>
    <%= f.label :skin_tone, "A", :value => "A" %>
    <%= f.radio_button :skin_tone, "A", :checked => true %>
    <%= f.label :skin_tone, "B", :value => "B" %>
    <%= f.radio_button :skin_tone, "B" %>
    <%= f.label :skin_tone, "C", :value => "C" %>
    <%= f.radio_button :skin_tone, "C" %>
    <%= f.label :skin_tone, "D", :value => "D" %>
    <%= f.radio_button :skin_tone, "D" %>
    <%= f.label :skin_tone, "E", :value => "E" %>
    <%= f.radio_button :skin_tone, "E" %>
    <%= f.label :skin_tone, "F", :value => "F" %>
    <%= f.radio_button :skin_tone, "F" %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>