<div class="row">

	<div class="col-md-9">

		<h1>Welcome to Skye!</h1>

		<div>
		  
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat a enim vitae convallis. Vivamus sit amet nulla purus. Aenean ultricies arcu tincidunt lorem fermentum, sed pharetra lorem lobortis. Etiam quis felis vehicula, adipiscing mi non, sodales nibh. Mauris faucibus rutrum lobortis. Donec nec malesuada nulla, quis consectetur mauris. Aenean feugiat quam sit amet odio aliquam sagittis. Etiam sed vehicula sapien. Etiam ut elit non magna dapibus molestie. Mauris fringilla mauris ut sapien imperdiet malesuada. Sed commodo sed justo non semper.
			</p>

			<p>
				Proin cursus pellentesque arcu, et ornare nulla volutpat dictum. Aliquam vehicula sem libero, at pellentesque massa imperdiet ut. In magna nulla, consequat in commodo sit amet, pretium ac nulla. Aenean quis facilisis dui. Nulla ut nisl at lorem posuere eleifend. Duis laoreet fermentum arcu nec dictum. Etiam viverra augue pretium velit euismod adipiscing id sit amet enim. Vestibulum tincidunt nec tellus ut imperdiet. Morbi ut est suscipit, hendrerit elit a, pellentesque dolor. In sed sodales nulla. Integer et ultricies purus. Proin molestie lectus sed enim porttitor rutrum.
			</p>

			<p>
				Donec sed ipsum placerat, venenatis neque eget, sagittis elit. Nulla rutrum magna blandit, fermentum lectus ac, venenatis velit. Praesent congue congue fringilla. In hac habitasse platea dictumst. Aliquam luctus ultricies nibh, ut hendrerit massa ultrices eu. Aenean lectus leo, condimentum convallis nisi a, blandit varius dolor. Nam mattis ipsum non velit semper suscipit. Morbi vestibulum nisl quis tristique mollis. Suspendisse sollicitudin nibh quis faucibus accumsan. Nunc lacinia lacinia velit, sit amet bibendum risus laoreet ac. Phasellus est felis, molestie at aliquam ornare, facilisis ac ipsum. Curabitur ac lacus quis orci viverra tincidunt.
			</p>

		</div>

	</div>

	<div class="col-md-3">
		<%= form_for(:user, :url => registration_path(:user)) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, autofocus: true %></div>

		  <div><%= f.label :password %><br />
		    <%= f.password_field :password, autocomplete: "off" %></div>

		  <div><%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

		  <div><%= f.submit "Sign up" %></div>
		<% end %>
	</div>

</div>
