<h1>Create your new Avatar!</h1>

<div id="avatar-canvas">
</div>

<div id="skin-menu">
  <div id="title">Select your skin tone:</div>
  <a id='A'>A</a>
  <a id='B'>B</a>
  <a id='C'>C</a>
  <a id='D'>D</a>
  <a id='E'>E</a>
  <a id='F'>F</a>
</div>

<br/>

<div id="sex-menu">
  <div id="title">Select your gender:</div>
  <a id='Male'>Male</a>
  <a id='Female'>Female</a>
</div>

<br/>

<div>
  Done!
</div>

<%= form_for @avatar do |f| %>
  <% if @avatar.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@avatar.errors.count, "error") %> prohibited
      this avatar from being saved:</h2>
    <ul>
    <% @avatar.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :sex %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :skintone %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>